/*  MAKE LAYOUT RESPONSIVE at 480px FOR IPHONE LANDSCAPE ============================================ */


	
header {
	width: 93.75%; /* 450px / 480px */
}


#maincontent{
	width: 93.75%; /* 450px / 480px */
}


.maincontent{
	width: 93.75%; /* 450px / 480px */
}


footer {
	width: 93.75%; /* 450px / 480px */
}

#wrapper aside#sidebar {
		box-shadow: none;
}

#wrapper header#header h1 {
    display: block;
    text-align: center;
    float: none;
}

#wrapper header#header #contact-info {
    float: none;
    text-align: center;
    margin-top: 5%;
}		

footer#footer #info-footer div,#wrapper footer#footer #info-footer h2{
	margin: 1em 0;
}

#wrapper footer#footer #info-footer{
	padding: 0;
}

#home-content #content0 {
	display: block !important;
}

#home-content aside .widgets {
	display: none;
}

#home-content #main-content .section-last {
	border-bottom: 2px solid #EE8A43;
	padding: 1em 0;
}

#home-content #main-content .section div {
	border-bottom: 2px solid #EE8A43;
	text-align: center;
	padding: 1em 0;
}

#home-content #main-content .section #content1 img,#home-content #main-content .section #content2 img {
	width: 90%;
}

#home-content #main-content .section #content1{
	padding-bottom: 0;
}

#home-content #main-content .section #content2{
	padding-top: 0;
}

#home-content #main-content .section img {
	width: 100%;
}

#home-content #main-content .section#section-last div:last-child, #home-content #main-content .section #content1 {
	border-bottom: none;
}

#wrapper aside#sidebar .logo-aside{
	padding-top: 0;
}

#wrapper #home-content section#main-content{
	margin-bottom: 0;
}

textarea, input[type="text"], input[type="email"] {
    width: 100%;
}

.ngg-slideshow .image-placeholder{
	height: 8em !important;
}