/*  MAKE LAYOUT RESPONSIVE at 768px FOR IPAD PORTRAIT ================================================================ */



header {
	width: 93.75%; /* 720px / 768px */
}

#maincontent{
	width: 93.75%; /* 720px / 768px */
}


.maincontent{
	width: 93.75%; /* 720px / 768px */
}


footer {
	width: 93.75%; /* 720px / 768px */
}

#wrapper aside#sidebar .logo-aside img {
    max-width: 90%;
}
.ngg-slideshow .image-placeholder{
	height: 13em !important;
}