@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

@custom: 'Oswald', sans-serif;
@default: arial, sans-serif;

//Colors
@white:#ffffff;
@orange:#ee8a43;
@green:#00a99d;
@gray:#313131;
@dark-gray:#292929;
@dark-gray2:#232323;
@light-blue:#edf5f8;
@blue:#7bbad9;


//mixins

.rounded(@top-left:5px, @top-right:5px, @bottom-left:5px, @bottom-right:5px,){
    border-top-left-radius: @top-left;
    border-top-right-radius: @top-right;
    border-bottom-right-radius: @bottom-right;
    border-bottom-left-radius: @bottom-left;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;  /* All browsers */
    behavior: url(../PIE.php);
}

.mp0(@mp0: 0px){
    margin: @mp0;
    padding: @mp0;
}

.shadow(@x-axis: 0px, @y-axis: 0px, @blur: 5px, @shadow-color: #ccd2d5){
    box-shadow: @x-axis @y-axis @blur @shadow-color; /* for Firefox 3.5+ */    
    -moz-box-shadow: @x-axis @y-axis @blur @shadow-color; /* for Firefox 3.5+ */
    -webkit-box-shadow: @x-axis @y-axis @blur @shadow-color; /* for Safari and Chrome */
    behavior: url(../PIE.php);
}

.gradient(@color: #008b82, @start: #008b82, @end: #00a89c){
    background: @color; /*fallback for non-CSS3 browsers*/
    background: linear-gradient(@start, @end); /*future CSS3 browsers*/
    -pie-background: linear-gradient(@start, @end); /*PIE*/
    behavior: url(../PIE.php);
}

.gradient-bar(@color: #01aa9e, @start: #01aa9e, @stop1: #33bbb1, @stop2: #00aa9e, @end: #00aa9e){
    background: @color; /*fallback for non-CSS3 browsers*/
    background: -moz-linear-gradient(top, @start 0%, @stop1 50%, @stop2 51%, @end 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(50%,@stop1), color-stop(51%,@stop2), color-stop(100%,@end)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  @start 0%,@stop1 50%,@stop2 51%,@end 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  @start 0%,@stop1 50%,@stop2 51%,@end 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  @start 0%,@stop1 50%,@stop2 51%,@end 100%); /* IE10+ */
    background: linear-gradient(to bottom @start 0%, @stop1 50%, @stop2 51%, @end 100%); /*future CSS3 browsers*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01aa9e', endColorstr='#00aa9e',GradientType=0 ); /* IE6-9 */
    -pie-background: linear-gradient(@start, @stop1, @stop2, @end); /*PIE*/
    behavior: url(../PIE.php);
}

.text-shadow(@x-axis: 1px, @y-axis: 1px, @blur: 2px, @shadow-color: #007d72){
    text-shadow: @x-axis @y-axis @blur @shadow-color;
    filter: dropshadow(color=#00968a, offx=1, offy=1);
}

.box(@color: @white){
    background:@color;
    margin: 5% auto;
    overflow: hidden;
    width: 90%;
}

.buttom(){
	color: @white;
	display: block;
	padding: 0.5em 1em;
	text-align: center;
	.rounded();
	.gradient(#69bad2, #69bad2, #37a1ce);
	&:hover{
		background:@orange; 
	}
}