html{
    .mp0();
}
a{
	color: @green;
    text-decoration: none;
}
a:hover{
    color: @gray;
    text-decoration: none;
}

body{
    font-family: @default;
    font-size: 14px;
    color: @gray;
    text-align: center;
}
p{
	font-family:@default; 
	font-weight: normal;
	margin: 1em 0;
}

//Headers

h1, h2, h3, h4, h5, h6{
	font-family: @custom;
	text-transform: uppercase;
	font-weight: 400;
}
input[type="submit"]{
	.buttom();
}

//Global styles

.inner{
	width: 90%;
	max-width: 80em;
	margin: 0 auto;
	overflow: hidden;
	clear: both;
}
.wrap {
	float: left;
	width: 100%;
}
.alignleft{
    float: left;
}
.alignright{
    float: right;
}
.alignnone{
    float: none;
}

//Layout

#wrapper{
	height: 100%;
	margin: auto;
	position: relative;
	text-align: left;

	header#header{
		border-top: 2px solid @dark-gray;
		float: left;
		padding: 1.5em 0;
		width: 100%;
		.gradient(#8dcdeb, #8dcdeb, #2e5d79);

		h1{
			float: left;
			display: inline-block;
			a{
				img{
					max-width: 100%;
					vertical-align: middle;
				}
			}
		}

		#contact-info{
			float: right;
			text-align: right;

			.textwidget{
				font-weight: bold;
			}

			ul#social-network{
				margin:0.5em 0;
				li{
					display: inline;
					a{
						background:@white url("images/social-network.png") no-repeat;
						display: inline-block;
						text-align: center;
						text-indent: -9999px;
						height: 37px;
						width: 37px;
						.rounded();
						&:hover{
							background:@dark-gray url("images/social-network.png") no-repeat;
						}
					}
				}
				.mail{
					a{
						background-position: 0px 0px;
					}
				}
				.facebook{
					a{
						background-position: -43px 0px;
						&:hover{
							background-position: -43px 0px;
						}
					}
				}
				.google{
					a{
						background-position: -86px 0px;
						&:hover{
							background-position: -86px 0px;
						}
					}
				}
				.rss{
					a{
						background-position: -130px 0px;
						&:hover{
							background-position: -130px 0px;
						}
					}
				}
				.twitter{
					a{
						background-position: -175px 0px;
						&:hover{
							background-position: -175px 0px;
						}
					}
				}
			}
			a.button{
				.buttom();
			}
		}

	}
	#main-nav{
		background: @green;
		width: 100%;
		nav.inner{
			.gradient();

			ul{
				.mp0();
				li{
					display: inline;
					a{
						border-right: 1px solid @dark-gray;
						color: @white;
						display: inline-block;
						font-family: @custom;
						font-size: 1em;
						font-weight: 300;
						line-height: 2em;
						text-align: center;
						padding:1em 0.3em;
						text-transform: uppercase;
						white-space:nowrap;

						&:hover{
							background:@orange;
						}
					}
				}
			}
		}
	}
	#slideshow{
		padding: 1.5em 0 2em 0;
		ul{
			.mp0();
			li{
				list-style: none;
				img{
					max-width: 100%;
				}
			}
		}
	}
	#home-content{
		border-top:2px solid @orange;

		section#main-content{
			height: 100%;
			margin-top:2em;
			margin-bottom:5em;

			article{
				h2{
					margin: 1em 0;
					width: 90%;
				}
				img{
					width: 90%;
					max-width: 100%;
				}
				p{
					width: 90%;
				}
			}
			#content0 {
				display: none;
				width: 0;
			}
		}	
	}
	aside#sidebar{
		background-color: @light-blue;
		height: 100%;
		margin-left: 0;
		margin-top: 0;
		margin-bottom: 0;
		width: 25.4%;

		.box{
			.box();
			.rounded(3px, 3px, 3px, 3px);
			.shadow();

			h2{
				color: @white;
				font-family: @default;
				font-size: 1.5em;
				line-height: 2em;
				letter-spacing: -0.5px;
				padding:0 .5em;
				text-transform: capitalize;
				.gradient-bar();
				.rounded(20px, 0px, 0px, 20px);
				.text-shadow();
			}
			img{
				width: 100%;
				max-width: 100%;
			}
			.textwidget{
				margin: 1em;
			}
			.border{
				border-bottom:2px solid @orange;
			}
			.text-center{
				text-align: center;
				font-size: 1.2em;
			}
		}
		.heal{
			.rounded(20px, 3px, 3px, 3px);
			img{
				border-bottom:2px solid @orange;
			}
			.textwidget:nth-of-type(1){
				display: none;
			}			
		}
		.logo{
			.box(@blue);
			.shadow(0px, 0px, 0px, #ffffff);
		}

		/*
		h2{
			color: @dark-gray;
			font-family: @custom;
			font-size: 1.1em;
			height: 2.3em;
			line-height: normal;
			padding-top: 1em;
			padding-left: 1em;
			.gradient();
		}
		.widgets{
			padding: 1em;
		}
		.logo-aside{
			margin:2em 0;
			text-align: center;
			img{
				max-width: 100%;
			}
		}
		*/
	}
	footer#footer{
		background: @dark-gray2;
		border-top:2px solid @orange;
		color: @white;
		width: 100%;

		#info-footer{
			padding: 3em 0;
			h2{
				margin-bottom: 2em;
			}
			a{
				color: @white;
				line-height: 1.2em;
			}
		}
		#copyright{
			background: @dark-gray2;
			/*border-top:2px solid @orange;*/
			line-height: 4em;
		}
	}
    #primary{
        width: 90%;
		max-width: 80em;
        margin: 0 auto;
        .rounded();        
        .has-sidebar{
            width: 70%;
            float: left;
        }
        #content{
        	padding: 5% 2%;
            .entry-title{
                margin-bottom: 30px;
            }
            article{
                margin-bottom: 30px;
                .event-date{
                    span{
                        font-weight: bold;
                    }
                }
            }
            .archive-header {
                margin-bottom: 50px;
            }
            .nocomments{
                display: none;
            }	
            footer{
            	margin-top: 5%;
            	.comment{
            		margin: 2% 0;
            	}
            }
        }
    }
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 95% !important;
    text-align: center;
}

.ngg-slideshow .image-placeholder{
	/*display: none;*/	
}
