/* CSS crunched with Crunch - http://crunchapp.net/ */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import "1cols.css";
@import "2cols.css";
@import "3cols.css";
@import "4cols.css";
@import "5cols.css";
@import "6cols.css";
@import "7cols.css";
@import "8cols.css";
@import "9cols.css";
@import "10cols.css";
@import "11cols.css";
@import "12cols.css";
@import "col.css";
@import "html5reset.css";
html{margin:0px;padding:0px;}
a{color:#00a99d;text-decoration:none;}
a:hover{color:#313131;text-decoration:none;}
body{font-family:arial,sans-serif;font-size:14px;color:#313131;text-align:center;}
p{font-family:arial,sans-serif;font-weight:normal;margin:1em 0;}
h1,h2,h3,h4,h5,h6{font-family:'Oswald',sans-serif;text-transform:uppercase;font-weight:400;}
.inner{width:90%;max-width:80em;margin:0 auto;overflow:hidden;clear:both;}
.wrap{float:left;width:100%;}
#wrapper{height:100%;margin:auto;position:relative;text-align:left;}#wrapper header#header{border-top:5px solid #292929;float:left;padding:1.5em 0;width:100%;background:#8dcdeb;background:linear-gradient(#8dcdeb, #2e5d79);-pie-background:linear-gradient(#8dcdeb, #2e5d79);behavior:url(../PIE.php);}#wrapper header#header h1{float:left;display:inline-block;}#wrapper header#header h1 a img{max-width:100%;vertical-align:middle;}
#wrapper header#header #contact-info{float:right;text-align:right;}#wrapper header#header #contact-info .textwidget{font-weight:bold;}
#wrapper header#header #contact-info ul#social-network{margin:0.5em 0;}#wrapper header#header #contact-info ul#social-network li{display:inline;}#wrapper header#header #contact-info ul#social-network li a{background:#ffffff url("../images/social-network.png") no-repeat;display:inline-block;text-align:center;text-indent:-9999px;height:37px;width:37px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;behavior:url(../PIE.php);}#wrapper header#header #contact-info ul#social-network li a:hover{background:#292929 url("../images/social-network.png") no-repeat;}
#wrapper header#header #contact-info ul#social-network .mail a{background-position:0px 0px;}
#wrapper header#header #contact-info ul#social-network .facebook a{background-position:-43px 0px;}#wrapper header#header #contact-info ul#social-network .facebook a:hover{background-position:-43px 0px;}
#wrapper header#header #contact-info ul#social-network .google a{background-position:-86px 0px;}#wrapper header#header #contact-info ul#social-network .google a:hover{background-position:-86px 0px;}
#wrapper header#header #contact-info ul#social-network .rss a{background-position:-130px 0px;}#wrapper header#header #contact-info ul#social-network .rss a:hover{background-position:-130px 0px;}
#wrapper header#header #contact-info ul#social-network .twitter a{background-position:-175px 0px;}#wrapper header#header #contact-info ul#social-network .twitter a:hover{background-position:-175px 0px;}
#wrapper header#header #contact-info a.button{color:#ffffff;display:block;padding:0.5em 1em;text-align:center;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:#69bad2;background:linear-gradient(#69bad2, #37a1ce);-pie-background:linear-gradient(#69bad2, #37a1ce);behavior:url(../PIE.php);}#wrapper header#header #contact-info a.button:hover{background:#ee8a43;}
#wrapper #main-nav{background:#00a99d;width:100%;}#wrapper #main-nav nav.inner{background:#008b82;background:linear-gradient(#008b82, #00a89c);-pie-background:linear-gradient(#008b82, #00a89c);behavior:url(../PIE.php);}#wrapper #main-nav nav.inner ul{margin:0px;padding:0px;}#wrapper #main-nav nav.inner ul li{display:inline;}#wrapper #main-nav nav.inner ul li a{border-right:1px solid #292929;color:#ffffff;display:inline-block;font-family:'Oswald',sans-serif;font-size:1em;font-weight:300;line-height:2em;text-align:center;padding:1em 0.3em;text-transform:uppercase;white-space:nowrap;}#wrapper #main-nav nav.inner ul li a:hover{background:#ee8a43;}
#wrapper #slideshow{padding:1.5em 0 2em 0;}#wrapper #slideshow ul{margin:0px;padding:0px;}#wrapper #slideshow ul li{list-style:none;}#wrapper #slideshow ul li img{max-width:100%;}
#wrapper #content{border-top:5px solid #ee8a43;}#wrapper #content section#main-content{box-shadow:inset -5px 0px 0px #ee8a43;height:100%;margin-top:0;margin-bottom:0;}#wrapper #content section#main-content article h2{margin:1em 0;width:90%;}
#wrapper #content section#main-content article img{width:90%;max-width:100%;}
#wrapper #content section#main-content article p{width:90%;}
#wrapper aside#sidebar{height:100%;margin-left:0;margin-top:0;width:25.4%;background:#69bad2;background:linear-gradient(#69bad2, #d2edf1);-pie-background:linear-gradient(#69bad2, #d2edf1);behavior:url(../PIE.php);}#wrapper aside#sidebar h2{color:#292929;font-family:'Oswald',sans-serif;font-size:1.1em;height:2.3em;line-height:normal;padding-top:1em;padding-left:1em;background:#008b82;background:linear-gradient(#008b82, #00a89c);-pie-background:linear-gradient(#008b82, #00a89c);behavior:url(../PIE.php);}
#wrapper aside#sidebar .widgets{padding:1em;}
#wrapper aside#sidebar .logo-aside{margin:2em 0;text-align:center;}#wrapper aside#sidebar .logo-aside img{max-width:100%;}
#wrapper footer#footer{background:#00a99d;border-top:5px solid #ee8a43;color:#ffffff;width:100%;}#wrapper footer#footer #info-footer{padding:3em 0;}#wrapper footer#footer #info-footer h2{margin-bottom:2em;}
#wrapper footer#footer #copyright{background:#232323;border-top:2px solid #ee8a43;line-height:4em;}
@media only screen and (max-width:1024px) and (min-width:769px){@import "1024.css";}@media only screen and (max-width:768px) and (min-width:481px){@import "768.css";}@media only screen and (max-width:480px){@import "480.css";}
