@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

@import "css/2cols.css";

@import "css/3cols.css";

@import "css/4cols.css";

@import "css/5cols.css";

@import "css/6cols.css";

@import "css/7cols.css";

@import "css/8cols.css";

@import "css/9cols.css";

@import "css/10cols.css";

@import "css/11cols.css";

@import "css/12cols.css";

@import "css/col.css";

@import "css/html5reset.css";
html {
  margin: 0px;
  padding: 0px;
}
a {
  color: #00a99d;
  text-decoration: none;
}
a:hover {
  color: #313131;
  text-decoration: none;
}
body {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #313131;
  text-align: center;
}
p {
  font-family: arial, sans-serif;
  font-weight: normal;
  margin: 1em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}
input[type="submit"] {
  color: #ffffff;
  display: block;
  padding: 0.5em 1em;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  background: #69bad2;
  /*fallback for non-CSS3 browsers*/

  background: linear-gradient(#69bad2, #37a1ce);
  /*future CSS3 browsers*/

  -pie-background: linear-gradient(#69bad2, #37a1ce);
  /*PIE*/

  behavior: url(../PIE.php);
}
input[type="submit"]:hover {
  background: #ee8a43;
}
.inner {
  width: 90%;
  max-width: 80em;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
}
.wrap {
  float: left;
  width: 100%;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.alignnone {
  float: none;
}
#wrapper {
  height: 100%;
  margin: auto;
  position: relative;
  text-align: left;
}
#wrapper header#header {
  border-top: 2px solid #292929;
  float: left;
  padding: 1.5em 0;
  width: 100%;
  background: #8dcdeb;
  /*fallback for non-CSS3 browsers*/

  background: linear-gradient(#8dcdeb, #2e5d79);
  /*future CSS3 browsers*/

  -pie-background: linear-gradient(#8dcdeb, #2e5d79);
  /*PIE*/

  behavior: url(../PIE.php);
}
#wrapper header#header h1 {
  float: left;
  display: inline-block;
}
#wrapper header#header h1 a img {
  max-width: 100%;
  vertical-align: middle;
}
#wrapper header#header #contact-info {
  float: right;
  text-align: right;
}
#wrapper header#header #contact-info .textwidget {
  font-weight: bold;
}
#wrapper header#header #contact-info ul#social-network {
  margin: 0.5em 0;
}
#wrapper header#header #contact-info ul#social-network li {
  display: inline;
}
#wrapper header#header #contact-info ul#social-network li a {
  background: #ffffff url("images/social-network.png") no-repeat;
  display: inline-block;
  text-align: center;
  text-indent: -9999px;
  height: 37px;
  width: 37px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  behavior: url(../PIE.php);
}
#wrapper header#header #contact-info ul#social-network li a:hover {
  background: #292929 url("images/social-network.png") no-repeat;
}
#wrapper header#header #contact-info ul#social-network .mail a {
  background-position: 0px 0px;
}
#wrapper header#header #contact-info ul#social-network .facebook a {
  background-position: -43px 0px;
}
#wrapper header#header #contact-info ul#social-network .facebook a:hover {
  background-position: -43px 0px;
}
#wrapper header#header #contact-info ul#social-network .google a {
  background-position: -86px 0px;
}
#wrapper header#header #contact-info ul#social-network .google a:hover {
  background-position: -86px 0px;
}
#wrapper header#header #contact-info ul#social-network .rss a {
  background-position: -130px 0px;
}
#wrapper header#header #contact-info ul#social-network .rss a:hover {
  background-position: -130px 0px;
}
#wrapper header#header #contact-info ul#social-network .twitter a {
  background-position: -175px 0px;
}
#wrapper header#header #contact-info ul#social-network .twitter a:hover {
  background-position: -175px 0px;
}
#wrapper header#header #contact-info a.button {
  color: #ffffff;
  display: block;
  padding: 0.5em 1em;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  background: #69bad2;
  /*fallback for non-CSS3 browsers*/

  background: linear-gradient(#69bad2, #37a1ce);
  /*future CSS3 browsers*/

  -pie-background: linear-gradient(#69bad2, #37a1ce);
  /*PIE*/

  behavior: url(../PIE.php);
}
#wrapper header#header #contact-info a.button:hover {
  background: #ee8a43;
}
#wrapper #main-nav {
  background: #00a99d;
  width: 100%;
}
#wrapper #main-nav nav.inner {
  background: #008b82;
  /*fallback for non-CSS3 browsers*/

  background: linear-gradient(#008b82, #00a89c);
  /*future CSS3 browsers*/

  -pie-background: linear-gradient(#008b82, #00a89c);
  /*PIE*/

  behavior: url(../PIE.php);
}
#wrapper #main-nav nav.inner ul {
  margin: 0px;
  padding: 0px;
}
#wrapper #main-nav nav.inner ul li {
  display: inline;
}
#wrapper #main-nav nav.inner ul li a {
  border-right: 1px solid #292929;
  color: #ffffff;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 2em;
  text-align: center;
  padding: 1em 0.3em;
  text-transform: uppercase;
  white-space: nowrap;
}
#wrapper #main-nav nav.inner ul li a:hover {
  background: #ee8a43;
}
#wrapper #slideshow {
  padding: 1.5em 0 2em 0;
}
#wrapper #slideshow ul {
  margin: 0px;
  padding: 0px;
}
#wrapper #slideshow ul li {
  list-style: none;
}
#wrapper #slideshow ul li img {
  max-width: 100%;
}
#wrapper #home-content {
  border-top: 2px solid #ee8a43;
}
#wrapper #home-content section#main-content {
  height: 100%;
  margin-top: 2em;
  margin-bottom: 5em;
}
#wrapper #home-content section#main-content article h2 {
  margin: 1em 0;
  width: 90%;
}
#wrapper #home-content section#main-content article img {
  width: 90%;
  max-width: 100%;
}
#wrapper #home-content section#main-content article p {
  width: 90%;
}
#wrapper #home-content section#main-content #content0 {
  display: none;
  width: 0;
}
#wrapper aside#sidebar {
  background-color: #edf5f8;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 25.4%;
  /*
		h2{
			color: @dark-gray;
			font-family: @custom;
			font-size: 1.1em;
			height: 2.3em;
			line-height: normal;
			padding-top: 1em;
			padding-left: 1em;
			.gradient();
		}
		.widgets{
			padding: 1em;
		}
		.logo-aside{
			margin:2em 0;
			text-align: center;
			img{
				max-width: 100%;
			}
		}
		*/

}
#wrapper aside#sidebar .box {
  background: #ffffff;
  margin: 5% auto;
  overflow: hidden;
  width: 90%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  box-shadow: 0px 0px 5px #ccd2d5;
  /* for Firefox 3.5+ */
  -moz-box-shadow: 0px 0px 5px #ccd2d5;
  /* for Firefox 3.5+ */

  -webkit-box-shadow: 0px 0px 5px #ccd2d5;
  /* for Safari and Chrome */

  behavior: url(../PIE.php);
}
#wrapper aside#sidebar .box h2 {
  color: #ffffff;
  font-family: arial, sans-serif;
  font-size: 1.5em;
  line-height: 2em;
  letter-spacing: -0.5px;
  padding: 0 .5em;
  text-transform: capitalize;
  background: #01aa9e;
  /*fallback for non-CSS3 browsers*/

  background: -moz-linear-gradient(top, #01aa9e 0%, #33bbb1 50%, #00aa9e 51%, #00aa9e 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #01aa9e), color-stop(50%, #33bbb1), color-stop(51%, #00aa9e), color-stop(100%, #00aa9e));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #01aa9e 0%, #33bbb1 50%, #00aa9e 51%, #00aa9e 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #01aa9e 0%, #33bbb1 50%, #00aa9e 51%, #00aa9e 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #01aa9e 0%, #33bbb1 50%, #00aa9e 51%, #00aa9e 100%);
  /* IE10+ */

  background: linear-gradient(to bottom #01aa9e 0%, #33bbb1 50%, #00aa9e 51%, #00aa9e 100%);
  /*future CSS3 browsers*/

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01aa9e', endColorstr='#00aa9e', GradientType=0);
  /* IE6-9 */

  -pie-background: linear-gradient(#01aa9e, #33bbb1, #00aa9e, #00aa9e);
  /*PIE*/

  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  behavior: url(../PIE.php);
  text-shadow: 1px 1px 2px #007d72;
  filter: dropshadow(color=#00968a, offx=1, offy=1);
}
#wrapper aside#sidebar .box img {
  width: 100%;
  max-width: 100%;
}
#wrapper aside#sidebar .box .textwidget {
  margin: 1em;
}
#wrapper aside#sidebar .box .border {
  border-bottom: 2px solid #ee8a43;
}
#wrapper aside#sidebar .box .text-center {
  text-align: center;
  font-size: 1.2em;
}
#wrapper aside#sidebar .heal {
  border-top-left-radius: 20px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  behavior: url(../PIE.php);
}
#wrapper aside#sidebar .heal img {
  border-bottom: 2px solid #ee8a43;
}
#wrapper aside#sidebar .heal .textwidget:nth-of-type(1) {
  display: none;
}
#wrapper aside#sidebar .logo {
  background: #7bbad9;
  margin: 5% auto;
  overflow: hidden;
  width: 90%;
  box-shadow: 0px 0px 0px #ffffff;
  /* for Firefox 3.5+ */
  -moz-box-shadow: 0px 0px 0px #ffffff;
  /* for Firefox 3.5+ */

  -webkit-box-shadow: 0px 0px 0px #ffffff;
  /* for Safari and Chrome */

  behavior: url(../PIE.php);
}
#wrapper footer#footer {
  background: #232323;
  border-top: 2px solid #ee8a43;
  color: #ffffff;
  width: 100%;
}
#wrapper footer#footer #info-footer {
  padding: 3em 0;
}
#wrapper footer#footer #info-footer h2 {
  margin-bottom: 2em;
}
#wrapper footer#footer #info-footer a {
  color: #ffffff;
  line-height: 1.2em;
}
#wrapper footer#footer #copyright {
  background: #232323;
  /*border-top:2px solid @orange;*/

  line-height: 4em;
}
#wrapper #primary {
  width: 90%;
  max-width: 80em;
  margin: 0 auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  behavior: url(../PIE.php);
}
#wrapper #primary .has-sidebar {
  width: 70%;
  float: left;
}
#wrapper #primary #content {
  padding: 5% 2%;
}
#wrapper #primary #content .entry-title {
  margin-bottom: 30px;
}
#wrapper #primary #content article {
  margin-bottom: 30px;
}
#wrapper #primary #content article .event-date span {
  font-weight: bold;
}
#wrapper #primary #content .archive-header {
  margin-bottom: 50px;
}
#wrapper #primary #content .nocomments {
  display: none;
}
#wrapper #primary #content footer {
  margin-top: 5%;
}
#wrapper #primary #content footer .comment {
  margin: 2% 0;
}
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  width: 95% !important;
  text-align: center;
}
.ngg-slideshow .image-placeholder {
  /*display: none;*/
}
